#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig MGMT_MCUMGR
	tristate "MCUmgr support"
	default n
	depends on FSUTILS_ZCBOR
	---help---
		Enable support for MCUmgr

if MGMT_MCUMGR

endif # MGMT_MCUMGR
