#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig MGMT_MCUMGR
	bool "MCUmgr support"
	default n
	depends on FSUTILS_ZCBOR
	---help---
		Enable support for MCUmgr

if MGMT_MCUMGR

config MGMT_MCUMGR_DAEMON
	tristate "MCUmgr daemon support"
	default n

if MGMT_MCUMGR_DAEMON

config MGMT_MCUMGR_DAEMON_PROGNAME
	string "MCUmgr daemon name"
	default "mcumgr"

config MGMT_MCUMGR_DAEMON_PRIORITY
	int "MCUmgr daemon task priority"
	default 100

config MGMT_MCUMGR_DAEMON_STACKSIZE
	int "MCUmgr daemon stack size"
	default DEFAULT_TASK_STACKSIZE

endif # MGMT_MCUMGR_DAEMON

source "$APPSDIR/mgmt/mcumgr/mcumgr/mgmt/Kconfig"

source "$APPSDIR/mgmt/mcumgr/mcumgr/smp/Kconfig"

menu "Command Handlers"
source "$APPSDIR/mgmt/mcumgr/mcumgr/grp/Kconfig"
endmenu

menu "Transports and Transport Related Configuration Options"
source "$APPSDIR/mgmt/mcumgr/mcumgr/transport/Kconfig"
endmenu

endif # MGMT_MCUMGR
