menuconfig INDUSTRY_S2OPC
	bool "S2OPC support"
	default n
	---help---
		Enable the S2OPC build

if INDUSTRY_S2OPC

config CANUTILS_S2OPC_URL
	string "URL where S2OPC can be downloaded"
	default "https://gitlab.com/systerel/S2OPC/-/archive/master/"

config CANUTILS_S2OPC_VERSION
	string "Version number"
	default "a2ecf70b76a42c25c5338d86e85250bf16fd7023"

menu "S2OPC configuration"

endmenu # "S2OPC tools"

endif # INDUSTRY_S2OPC
